<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                Search Criteria : <span data-toggle="collapse" href="#collapse1" id="CollapseMe" class="glyphicon glyphicon-triangle-bottom"></span>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse form-horizontal table">
            <div class="form-group">
                <div class="col-md-11" align="center">
                    <br />
                    <input type="text" id="txtCriteriaCanName" placeholder="Candidate Name" />
                    <input type="text" id="txtCriteriaVendor" placeholder="Vendor" />
                    <input type="text" id="txtCriteriaStatus" placeholder="Status" />
                    <input type="text" id="txtCriteriaStDate" class="date-picker" placeholder="Uploaded Start Date" />
                    <input type="text" id="txtCriteriaEndDate" class="date-picker" placeholder="Uploaded End Date" />
                    <a href="@Url.Action("SearchCriteria", "Candidate", new { Name = "txtCriteriaCanName" })" class="btn btn-danger btn-xs" id="btnJobDelete">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

