@model HRPortal.Models.JobAndCandidateViewModels
@using HRPortal.Helper;

@{
    ViewBag.Title = "Home Page";
    //var isAdmin = Session["IsAdmin"] != null ? Session["IsAdmin"].ToString():string.Empty;
    var isSuperAdmin = HelperFuntions.HasValue(HttpRuntime.Cache.Get("rolename")).ToUpper().Contains("ADMIN") ? "True" : "False";
}

<div class="row">
    <div class="col-md-4">
        @if (isSuperAdmin == "True")
        {
            <br />
            @Html.Partial("_SearchCriteria")
            @Html.Partial("_CandidateList", Model.CandidateItems)
        }
            else {@Html.Partial("_JobList", Model.JobItems) }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script lang="ja" type="text/javascript">
    $(document).ready(function () {
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        });

         $('#CollapseMe').click(function () {
             $(this).hasClass('glyphicon-triangle-bottom') ? $(this).removeClass('glyphicon-triangle-bottom') && $(this).addClass('glyphicon-triangle-top') : $(this).removeClass('glyphicon-triangle-top') && $(this).addClass('glyphicon-triangle-bottom');
         });
       
         $("#btnSearchCriteria").click(function () {
             $.get("/Home/SearchCriteria", { name: $("#txtCriteriaCanName").val(), vendor: $("#txtCriteriaVendor").val(), status: $("#txtCriteriaStatus").val(), stdt: $("#txtCriteriaStDate").val(), edt: $("#txtCriteriaEndDate").val() }, function (data) {
                 $("#CandidatesPartial").html(data);
             });
         });
    });
</script>
}