@model HRPortal.Models.JobAndCandidateViewModels

@{
    ViewBag.Title = "Home Page";
    //var isAdmin = Session["IsAdmin"] != null ? Session["IsAdmin"].ToString():string.Empty;
    var isAdmin = User.Identity.Name.ToUpper().Contains("ADMIN") ? "True" : "False";@*@TODO:Need to remove once role done*@
}

@*<div class="jumbotron">
    <h4>Search Criteria:</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" id="txtCriteriaCanName" placeholder="Candidate Name" />
                <input type="text" id="txtCriteriaVendor" placeholder="Vendor" />
                <input type="text" id="txtCriteriaStatus" placeholder="Status" />
                <input type="text" id="txtCriteriaStDate" class="date-picker" placeholder="Uploaded Start Date" />
                <input type="text" id="txtCriteriaEndDate" class="date-picker" placeholder="Uploaded End Date" />
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        @if (isAdmin == "True")
        {
            @Html.Partial("_CandidateList", Model.CandidateItems)
        }
            else {@Html.Partial("_JobList", Model.JobItems) }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script lang="ja" type="text/javascript">
    $(document).ready(function () {
         $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
         })

         $('#CollapseMe').click(function () {
             $(this).hasClass('glyphicon-triangle-bottom') ? $(this).removeClass('glyphicon-triangle-bottom') && $(this).addClass('glyphicon-triangle-top') : $(this).removeClass('glyphicon-triangle-top') && $(this).addClass('glyphicon-triangle-bottom');
         });
        
    });
</script>
}