@{
    ViewBag.Title = "Appointment Page";
}


<div class="container">
    <br /><br />
    <div id='calendar' style="width:75%"></div>
</div>

<div class="modal" id="popupEventForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4><i class="glyphicon glyphicon-plus"></i> Add new event</h4></div>
            <div class="modal-body">
                <div class="">
                    <input type="hidden" id="eventID">
                    <label>Event title</label>
                    <input type="text" id="eventTitle" class="form-control textarea-input-custom" placeholder="Title here"><br />
                    <label>Scheduled date</label>
                    <input type="text" class="form-control" id="eventDate"><br />
                    <label>Scheduled time</label>
                    <input type="text" class="form-control" id="eventTime"><br />
                    <label>Appointment length (minutes)</label>
                    <input type="text" class="form-control" id="eventDuration" placeholder="15">
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" data-dismiss="modal" id="btnPopupCancel" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
                    <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Save event</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    
<script>
    $(document).ready(function () {

        var sourceFullView = { url: '/Appointment/GetDiaryEvents/' };
        var sourceSummaryView = { url: '/Appointment/GetDiarySummary/' };
        var CalLoading = true;

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaDay',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 30,
            events: '/Appointment/GetDiaryEvents/',
            eventClick: function (calEvent, jsEvent, view) {
                alert('You clicked on event id: ' + calEvent.id
                    + "\nSpecial ID: " + calEvent.someKey
                    + "\nAnd the title is: " + calEvent.title);

            },

            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                if (confirm("Confirm move?")) {
                    UpdateEvent(event.id, event.start);
                }
                else {
                    revertFunc();
                }
            },

            eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

                if (confirm("Confirm change appointment length?")) {
                    UpdateEvent(event.id, event.start, event.end);
                }
                else {
                    revertFunc();
                }
            },

            dayClick: function (date, allDay, jsEvent, view) {
                $('#eventTitle').val("");
                $('#eventDate').val($.fullCalendar.formatDate(date, 'yyyy-MM-dd'));
                $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm:ss'));
                ShowEventPopup(date);
            },

            viewRender: function (view, element) {

                if (!CalLoading) {
                    if (view.name == 'month') {
                        $('#calendar').fullCalendar('removeEventSource', sourceFullView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
                    }
                    else {
                        $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', sourceFullView);
                    }
                }
            }

        });

        CalLoading = false;

        
    });

    $('#btnInit').click(function () {
        $.ajax({
            type: 'POST',
            url: "/Appointment/Init",
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('Database populated! ');
                }
                else {
                    alert('Error, could not populate database!');
                }
            }
        });
    });

    $('#btnPopupCancel').click(function () {
        ClearPopupFormValues();
        $('#popupEventForm').hide();
        return false;
    });

    $('#btnPopupSave').click(function () {
        $('#popupEventForm').hide();

        var dataRow = {
            'Title': $('#eventTitle').val(),
            'NewEventDate': $('#eventDate').val(),
            'NewEventTime': $('#eventTime').val(),
            'NewEventDuration': $('#eventDuration').val()
        }

        ClearPopupFormValues();

        $.ajax({
            type: 'POST',
            url: "/Appointment/SaveEvent",
            data: dataRow,
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    alert('New event saved!');
                }
                else {
                    alert('Error, could not save event!');
                }
            }
        });
    });

    function ShowEventPopup(date) {
        ClearPopupFormValues();
        $('#popupEventForm').show();
        $('#eventTitle').focus();
    }

    function ClearPopupFormValues() {
        $('#eventID').val("");
        $('#eventTitle').val("");
        $('#eventDateTime').val("");
        $('#eventDuration').val("");
    }

    function UpdateEvent(EventID, EventStart, EventEnd) {

        var dataRow = {
            'ID': EventID,
            'NewEventStart': EventStart,
            'NewEventEnd': EventEnd
        }

        $.ajax({
            type: 'POST',
            url: "/Appointment/UpdateEvent",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(dataRow)
        });
    }

</script>
}
