@using HRPortal.Helper;
@{ 
    bool isSuperAdmin = HelperFuntions.HasValue(CookieStore.GetCookie(CacheKey.RoleName.ToString())).ToUpper().Contains("ADMIN") ? true : false;
}
<div class="container">
    <div class="panel-group" id="SearchCriteriaPartial">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Search Criteria : <span data-toggle="collapse" href="#collapse1" id="CollapseMe" class="glyphicon glyphicon-triangle-bottom"></span>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse form-horizontal table">
                <div class="form-group">
                    <div class="col-md-11" align="center">
                        <br />
                        
                        <div id="srchCandidates">
                            <input type="text" id="txtCriteriaCanName" placeholder="Candidate Name" />
                                @Html.DropDownList("ddlCriteriaVendor", (SelectList)ViewBag.VendorList, new { multiple = "multiple" })
                                @Html.DropDownList("ddlCriteriaPosition", (SelectList)ViewBag.PositionList, new { multiple = "multiple" })
                                @Html.DropDownList("ddlStatusSearchList", (SelectList)ViewBag.StatusList, new { multiple = "multiple" })<br /><br />
                                <input type="text" id="txtCriteriaStDate" class="date-picker" placeholder="Uploaded Start Date" />
                                <input type="text" id="txtCriteriaEndDate" class="date-picker" placeholder="Uploaded End Date" />
                                <a class="btn btn-danger btn-xs" id="btnSearchCriteria">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <a class="btn btn-danger btn-xs" id="btnClearSearch">Clear Filters</a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>